In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
!unzip -q '/content/drive/MyDrive/OptumStratethon.zip'

allergies_names = ['allergies_START', 'allergies_STOP', 'PATIENT', 'ENCOUNTER', 'CODE', 'allergies_DESCRIPTION']
allergies = pd.read_csv("/content/csv/allergies.csv", names=allergies_names)

careplans_names = ['careplans_Id', 'careplans_START', 'careplans_STOP', 'PATIENT', 'ENCOUNTER', 'CODE', 'careplans_DESCRIPTION','REASONCODE', 'REASONDESCRIPTION']
careplans = pd.read_csv("/content/csv/careplans.csv", names=careplans_names)
  
conditions_names = ['conditions_START', 'conditions_STOP', 'PATIENT', 'ENCOUNTER', 'CODE', 'conditions_DESCRIPTION']
conditions = pd.read_csv("/content/csv/conditions.csv", names = conditions_names)

devices_names = ['devices_START', 'devices_STOP', 'PATIENT', 'ENCOUNTER', 'CODE', 'devices_DESCRIPTION', 'UDI']
devices = pd.read_csv("/content/csv/devices.csv", names = devices_names)

encounters_names = ['ENCOUNTER', 'encounters_START', 'encounters_STOP', 'PATIENT', 'ORGANIZATION', 'PROVIDER', 'PAYER','ENCOUNTERCLASS', 'CODE', 'encounters_DESCRIPTION', 
                      'BASE_ENCOUNTER_COST','TOTAL_CLAIM_COST', 'PAYER_COVERAGE', 'enc_REASONCODE','enc_REASONDESCRIPTION']
encounters = pd.read_csv("/content/csv/encounters.csv", names=encounters_names)

imaging_studies_names = ['IMAGING_STUDIES', 'is_DATE', 'PATIENT', 'ENCOUNTER', 'BODYSITE_CODE',
       'BODYSITE_DESCRIPTION', 'MODALITY_CODE', 'MODALITY_DESCRIPTION','SOP_CODE', 'SOP_DESCRIPTION']
imaging_studies = pd.read_csv("/content/csv/imaging_studies.csv", names = imaging_studies_names)

immunizations_names = ['immunization_DATE', 'PATIENT', 'ENCOUNTER', 'CODE', 'immunization_DESCRIPTION', 'immunization_BASE_COST']
immunizations = pd.read_csv("/content/csv/immunizations.csv", names = immunizations_names)

medications_names = ['meds_START', 'meds_STOP', 'PATIENT', 'PAYER', 'ENCOUNTER', 'meds_CODE', 'meds_DESCRIPTION',
       'meds_BASE_COST', 'PAYER_COVERAGE', 'DISPENSES', 'TOTALCOST', 'meds_REASONCODE','meds_REASONDESCRIPTION']
medications = pd.read_csv("/content/csv/medications.csv", names=medications_names)

observations_names = ['obs_DATE', 'PATIENT', 'ENCOUNTER', 'obs_CODE', 'obs_DESCRIPTION', 'VALUE', 'UNITS','TYPE']
observations = pd.read_csv("/content/csv/observations.csv", names=observations_names)

organizations_names = ['ORGANIZATIONS', 'org_NAME', 'org_ADDRESS', 'org_CITY', 'org_STATE', 'org_ZIP', 'org_LAT', 'org_LON', 'org_PHONE','org_REVENUE', 'org_UTILIZATION']
organizations = pd.read_csv("/content/csv/organizations.csv", names = organizations_names)

patients_names = ['PATIENT', 'BIRTHDATE', 'DEATHDATE', 'SSN', 'DRIVERS', 'PASSPORT','PREFIX', 'FIRST', 'LAST', 'SUFFIX', 'MAIDEN', 'MARITAL', 'RACE',
     'ETHNICITY', 'GENDER', 'BIRTHPLACE', 'pat_ADDRESS', 'pat_CITY', 'pat_STATE','pat_COUNTY', 'pat_ZIP', 'pat_LAT', 'pat_LON', 'HEALTHCARE_EXPENSES','HEALTHCARE_COVERAGE']
patients = pd.read_csv("/content/csv/patients.csv", names=patients_names)

payer_transitions_names = ['PATIENT', 'START_YEAR', 'END_YEAR', 'PAYER', 'OWNERSHIP']
payer_transitions = pd.read_csv("/content/csv/payer_transitions.csv", names=payer_transitions_names)

payers_names = ['PAYER', 'payer_NAME', 'payer_ADDRESS', 'payer_CITY', 'STATE_HEADQUARTERED', 'payer_ZIP', 'payer_PHONE',
       'AMOUNT_COVERED', 'AMOUNT_UNCOVERED', 'payer_REVENUE', 'COVERED_ENCOUNTERS','UNCOVERED_ENCOUNTERS', 'COVERED_MEDICATIONS', 'UNCOVERED_MEDICATIONS',
       'COVERED_PROCEDURES', 'UNCOVERED_PROCEDURES', 'COVERED_IMMUNIZATIONS','UNCOVERED_IMMUNIZATIONS', 'UNIQUE_CUSTOMERS', 'QOLS_AVG','MEMBER_MONTHS']
payers = pd.read_csv("/content/csv/payers.csv", names=payers_names)

procedures_names = ['DATE', 'PATIENT', 'ENCOUNTER', 'CODE', 'procedure_DESCRIPTION', 'procedure_BASE_COST','REASONCODE', 'REASONDESCRIPTION']
procedures = pd.read_csv("/content/csv/procedures.csv", names=procedures_names)

providers_names = ['PROVIDER', 'ORGANIZATION', 'prov_NAME', 'prov_GENDER', 'SPECIALITY', 'prov_ADDRESS', 'prov_CITY',
       'prov_STATE', 'prov_ZIP', 'prov_LAT', 'prov_LON', 'prov_UTILIZATION']
providers = pd.read_csv("/content/csv/providers.csv", names = providers_names)

supplies = pd.read_csv("/content/csv/supplies.csv")

replace csv/allergies.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A

In [ ]:
patient_allergies = pd.merge(allergies, patients, on=['PATIENT'], how='right')
patient_allergies.drop(0, inplace=True)

patient_observations = pd.merge(observations, patients, on=['PATIENT'], how='right')
patient_observations.drop(0, inplace = True)

patient_conditions = pd.merge(conditions, patients, on=['PATIENT'], how='right')
patient_conditions.drop(0, inplace=True)

patient_payer_transitions = pd.merge(payer_transitions, patients, on=['PATIENT'], how='right')
patient_payer_transitions.drop(0, inplace=True)

payers_p_transitions = pd.merge(payer_transitions, payers, on=['PAYER'], how='right')
payers_p_transitions.drop(0, inplace=True)

patient_medications = pd.merge(medications, patients, on=['PATIENT'], how= 'right')
patient_medications.drop(0, inplace=True)

patient_encounters = pd.merge(encounters, patients, on=['PATIENT'], how='right')
patient_encounters.drop(0, inplace=True)

In [ ]:
factors = ['Body Height', 'Body Weight', 'Body Mass Index', 
           'Diastolic Blood Pressure','Systolic Blood Pressure', 'Heart rate', 'Respiratory rate',
          'Body temperature', 'Leukocytes [#/volume] in Blood by Automated count', 'Erythrocytes [#/volume] in Blood by Automated count',
          'Hemoglobin [Mass/volume] in Blood',
          'Hematocrit [Volume Fraction] of Blood by Automated count',
          'MCV [Entitic volume] by Automated count',
          'MCH [Entitic mass] by Automated count',
          'MCHC [Mass/volume] by Automated count',
          'Total Cholesterol', 'Low Density Lipoprotein Cholesterol',
          'High Density Lipoprotein Cholesterol'
          'Urea Nitrogen', 'Creatinine', 'Calcium', 'Sodium', 'Potassium',
          'Chloride', 'Carbon Dioxide', 'Protein [Mass/volume] in Serum or Plasma',
          'Albumin [Mass/volume] in Serum or Plasma',
          'Globulin [Mass/volume] in Serum by calculation',
          'Bilirubin.total [Mass/volume] in Serum or Plasma',
          'Glucose [Mass/volume] in Urine by Test strip',
          'Bilirubin.total [Mass/volume] in Urine by Test strip',
          'Protein [Mass/volume] in Urine by Test strip',
          'pH of Urine by Test strip', 'Hemoglobin [Presence] in Urine by Test strip']

required_data = patient_observations[['obs_DATE','PATIENT','ENCOUNTER', 'obs_CODE','PREFIX', 'FIRST', 'LAST', 'GENDER', 'BIRTHDATE', 'DEATHDATE', 'HEALTHCARE_EXPENSES', 'HEALTHCARE_COVERAGE','obs_DESCRIPTION', 'VALUE', 'UNITS']][patient_observations['obs_DESCRIPTION'].isin(factors)]
required_data

                    obs_DATE  ...   UNITS
1       2011-07-28T15:02:18Z  ...      cm
3       2011-07-28T15:02:18Z  ...      kg
4       2011-07-28T15:02:18Z  ...   kg/m2
5       2011-07-28T15:02:18Z  ...  mm[Hg]
6       2011-07-28T15:02:18Z  ...  mm[Hg]
...                      ...  ...     ...
299660  2019-07-13T17:27:52Z  ...  mm[Hg]
299661  2019-07-13T17:27:52Z  ...    /min
299662  2019-07-13T17:27:52Z  ...    /min
299663  2019-07-13T17:27:52Z  ...   mg/dL
299665  2019-07-13T17:27:52Z  ...   mg/dL

[167526 rows x 15 columns]

In [ ]:
units = {}
for ind in required_data.index:
  units[required_data['obs_DESCRIPTION'][ind]] = required_data['UNITS'][ind]
units

{'Albumin [Mass/volume] in Serum or Plasma': 'g/dL',
 'Bilirubin.total [Mass/volume] in Serum or Plasma': 'mg/dL',
 'Bilirubin.total [Mass/volume] in Urine by Test strip': 'mg/dL',
 'Body Height': 'cm',
 'Body Mass Index': 'kg/m2',
 'Body Weight': 'kg',
 'Body temperature': 'Cel',
 'Calcium': 'mg/dL',
 'Carbon Dioxide': 'mmol/L',
 'Chloride': 'mmol/L',
 'Creatinine': 'mg/dL',
 'Diastolic Blood Pressure': 'mm[Hg]',
 'Erythrocytes [#/volume] in Blood by Automated count': '10*6/uL',
 'Globulin [Mass/volume] in Serum by calculation': 'g/L',
 'Glucose [Mass/volume] in Urine by Test strip': 'mg/dL',
 'Heart rate': '/min',
 'Hematocrit [Volume Fraction] of Blood by Automated count': '%',
 'Hemoglobin [Mass/volume] in Blood': 'g/dL',
 'Hemoglobin [Presence] in Urine by Test strip': '{nominal}',
 'Leukocytes [#/volume] in Blood by Automated count': '10*3/uL',
 'Low Density Lipoprotein Cholesterol': 'mg/dL',
 'MCH [Entitic mass] by Automated count': 'pg',
 'MCHC [Mass/volume] by Automated count': 'g/dL',
 'MCV [Entitic volume] by Automated count': 'fL',
 'Potassium': 'mmol/L',
 'Protein [Mass/volume] in Serum or Plasma': 'g/dL',
 'Protein [Mass/volume] in Urine by Test strip': 'mg/dL',
 'Respiratory rate': '/min',
 'Sodium': 'mmol/L',
 'Systolic Blood Pressure': 'mm[Hg]',
 'Total Cholesterol': 'mg/dL',
 'pH of Urine by Test strip': 'pH'}

In [ ]:
cols = ['DATE', 'PATIENT', 'ENCOUNTER', 'obs_CODE', 'PREFIX', 'FIRST', 'LAST', 'GENDER', 'BIRTHDATE', 'DEATHDATE',
        'HEALTHCARE_EXPENSES', 'HEALTHCARE_COVERAGE',
        'Body Height' + "  " + units['Body Height'],  'Body Weight' + "  " + units['Body Weight'],
        'Body Mass Index' + "  " + units['Body Mass Index'], 'Body temperature' + "  " + units['Body temperature'],
        'Calcium'+"  "+units['Calcium'], 'Carbon Dioxide'+"  "+units['Carbon Dioxide'], 
        'Creatinine'+"  "+units['Creatinine'],  'Potassium'+"  "+units['Potassium'],  'Sodium'+"  "+units['Sodium'],
        'Heart rate'+"  "+units['Heart rate'],  'Respiratory rate'+"  "+units['Respiratory rate'],
        'Total Cholesterol'+"  "+units['Total Cholesterol'],
        'Low Density Lipoprotein Cholesterol'+"  "+units['Low Density Lipoprotein Cholesterol'],
        'Protein [Mass/volume] in Serum or Plasma'+"  "+units['Protein [Mass/volume] in Serum or Plasma'],
        'Protein [Mass/volume] in Urine by Test strip'+"  "+units['Protein [Mass/volume] in Urine by Test strip'],
        'Systolic Blood Pressure'+"  "+units['Systolic Blood Pressure'],
        'Diastolic Blood Pressure'+"  "+units['Diastolic Blood Pressure'],
        'Glucose [Mass/volume] in Urine by Test strip'+"  "+units['Glucose [Mass/volume] in Urine by Test strip'],
        'Hemoglobin [Mass/volume] in Blood'+"  "+units['Hemoglobin [Mass/volume] in Blood'],
        'Hematocrit [Volume Fraction] of Blood by Automated count'+"  "+units['Hematocrit [Volume Fraction] of Blood by Automated count'],
        'MCH [Entitic mass] by Automated count'+"  "+units['MCH [Entitic mass] by Automated count'],
        'MCHC [Mass/volume] by Automated count'+"  "+units['MCHC [Mass/volume] by Automated count'],
        'MCV [Entitic volume] by Automated count'+"  "+units['MCV [Entitic volume] by Automated count'],
        'Leukocytes [#/volume] in Blood by Automated count'+"  "+units['Leukocytes [#/volume] in Blood by Automated count'],
        'Erythrocytes [#/volume] in Blood by Automated count'+"  "+units['Erythrocytes [#/volume] in Blood by Automated count'],
        'Globulin [Mass/volume] in Serum by calculation'+"  "+units['Globulin [Mass/volume] in Serum by calculation'],
        'Albumin [Mass/volume] in Serum or Plasma' + "  " + units['Albumin [Mass/volume] in Serum or Plasma'],
        'Bilirubin.total [Mass/volume] in Serum or Plasma' +"  " + units['Bilirubin.total [Mass/volume] in Serum or Plasma'],
        'pH of Urine by Test strip'+"  "+units['pH of Urine by Test strip']
        ]

df_patient_observations = pd.DataFrame(columns=cols)
df_patient_observations

Empty DataFrame
Columns: [DATE, PATIENT, ENCOUNTER, obs_CODE, PREFIX, FIRST, LAST, GENDER, BIRTHDATE, DEATHDATE, HEALTHCARE_EXPENSES, HEALTHCARE_COVERAGE, Body Height  cm, Body Weight  kg, Body Mass Index  kg/m2, Body temperature  Cel, Calcium  mg/dL, Carbon Dioxide  mmol/L, Creatinine  mg/dL, Potassium  mmol/L, Sodium  mmol/L, Heart rate  /min, Respiratory rate  /min, Total Cholesterol  mg/dL, Low Density Lipoprotein Cholesterol  mg/dL, Protein [Mass/volume] in Serum or Plasma  g/dL, Protein [Mass/volume] in Urine by Test strip  mg/dL, Systolic Blood Pressure  mm[Hg], Diastolic Blood Pressure  mm[Hg], Glucose [Mass/volume] in Urine by Test strip  mg/dL, Hemoglobin [Mass/volume] in Blood  g/dL, Hematocrit [Volume Fraction] of Blood by Automated count  %, MCH [Entitic mass] by Automated count  pg, MCHC [Mass/volume] by Automated count  g/dL, MCV [Entitic volume] by Automated count  fL, Leukocytes [#/volume] in Blood by Automated count  10*3/uL, Erythrocytes [#/volume] in Blood by Automated count  10*6/uL, Globulin [Mass/volume] in Serum by calculation  g/L, Albumin [Mass/volume] in Serum or Plasma  g/dL, Bilirubin.total [Mass/volume] in Serum or Plasma  mg/dL, pH of Urine by Test strip  pH]
Index: []

In [ ]:
grouped_patients = required_data.groupby('PATIENT')

for name, group in grouped_patients:
  data_dict = {}
  data_dict['PATIENT'] = name
  for ind in group.index:
    data_dict['DATE'] = group['obs_DATE'][ind]
    data_dict['ENCOUNTER'] = group['ENCOUNTER'][ind]
    data_dict['obs_CODE'] = group['obs_CODE'][ind]
    data_dict['PREFIX'] = group['PREFIX'][ind]
    data_dict['FIRST'] = group['FIRST'][ind]
    data_dict['LAST'] = group['LAST'][ind]
    data_dict['GENDER'] = group['GENDER'][ind]
    data_dict['BIRTHDATE'] = group['BIRTHDATE'][ind]
    data_dict['DEATHDATE'] = group['DEATHDATE'][ind]
    data_dict['HEALTHCARE_EXPENSES'] = group['HEALTHCARE_EXPENSES'][ind]
    data_dict['HEALTHCARE_COVERAGE'] = group['HEALTHCARE_COVERAGE'][ind]
    #print(group['obs_DESCRIPTION'][ind] + "  " + units[group['obs_DESCRIPTION'][ind]])
    data_dict[group['obs_DESCRIPTION'][ind] + "  " + units[group['obs_DESCRIPTION'][ind]]] = group['VALUE'][ind]
  df_patient_observations = df_patient_observations.append(data_dict, ignore_index=True)
df_patient_observations

                      DATE  ... Hemoglobin [Presence] in Urine by Test strip  {nominal}
0     2019-12-31T15:06:37Z  ...                                                NaN
1     2019-12-05T23:31:38Z  ...                                                NaN
2     2020-03-19T00:15:54Z  ...                                                NaN
3     2019-08-11T04:32:14Z  ...                                                NaN
4     2020-04-22T06:27:24Z  ...                                                NaN
...                    ...  ...                                                ...
1166  2019-11-06T17:10:39Z  ...                                                NaN
1167  2019-08-06T19:29:08Z  ...                                                NaN
1168  2019-07-29T10:57:26Z  ...                                                NaN
1169  2001-01-17T12:00:58Z  ...                                                NaN
1170  2019-11-18T09:02:32Z  ...                                                NaN

[1171 rows x 44 columns]

In [ ]:
patient_payers = payers_p_transitions[['PATIENT', 'START_YEAR', 'END_YEAR', 'PAYER', 'OWNERSHIP', 'payer_NAME', 'payer_CITY', 'STATE_HEADQUARTERED',
                                       'AMOUNT_COVERED', 'AMOUNT_UNCOVERED', 'payer_REVENUE',
                                       'COVERED_ENCOUNTERS', 'UNCOVERED_ENCOUNTERS', 'COVERED_MEDICATIONS',
                                       'UNCOVERED_MEDICATIONS', 'COVERED_PROCEDURES', 'UNCOVERED_PROCEDURES',
                                       'COVERED_IMMUNIZATIONS', 'UNCOVERED_IMMUNIZATIONS']] 
# patient_payers

cols = ['PATIENT', 'INSURANCE_START_YEAR', 'INSURANCE_END_YEAR', 'PAYER', 'OWNERSHIP', 'payer_NAME',
       'payer_CITY', 'STATE_HEADQUARTERED', 'AMOUNT_COVERED',
       'AMOUNT_UNCOVERED', 'payer_REVENUE', 'COVERED_ENCOUNTERS',
       'UNCOVERED_ENCOUNTERS', 'COVERED_MEDICATIONS', 'UNCOVERED_MEDICATIONS',
       'COVERED_PROCEDURES', 'UNCOVERED_PROCEDURES', 'COVERED_IMMUNIZATIONS',
       'UNCOVERED_IMMUNIZATIONS']

df_patient_payer = pd.DataFrame(columns = cols)
df_patient_payer

Empty DataFrame
Columns: [PATIENT, INSURANCE_START_YEAR, INSURANCE_END_YEAR, PAYER, OWNERSHIP, payer_NAME, payer_CITY, STATE_HEADQUARTERED, AMOUNT_COVERED, AMOUNT_UNCOVERED, payer_REVENUE, COVERED_ENCOUNTERS, UNCOVERED_ENCOUNTERS, COVERED_MEDICATIONS, UNCOVERED_MEDICATIONS, COVERED_PROCEDURES, UNCOVERED_PROCEDURES, COVERED_IMMUNIZATIONS, UNCOVERED_IMMUNIZATIONS]
Index: []

In [ ]:
grouped_patients = patient_payers.groupby('PATIENT')
for name, group in grouped_patients:
  data_dict = {'PAYER' : [], 'OWNERSHIP':[], 'payer_NAME':[], 'payer_CITY':[], 'STATE_HEADQUARTERED':[],
               'AMOUNT_COVERED':[], 'AMOUNT_UNCOVERED':[], 'payer_REVENUE':[], 'COVERED_ENCOUNTERS':[],
               'UNCOVERED_ENCOUNTERS':[], 'COVERED_MEDICATIONS':[], 'UNCOVERED_MEDICATIONS':[],
               'COVERED_PROCEDURES': [], 'COVERED_IMMUNIZATIONS':[], 'UNCOVERED_IMMUNIZATIONS':[]}
  data_dict['PATIENT'] = name
  for ind in group.index:
    data_dict['INSURANCE_START_YEAR'] = group['START_YEAR'][ind]
    data_dict['INSURANCE_END_YEAR'] = group['END_YEAR'][ind]
    data_dict['PAYER'].append(group['PAYER'][ind])
    data_dict['OWNERSHIP'].append(group['OWNERSHIP'][ind])
    data_dict['payer_NAME'].append(group['payer_NAME'][ind])
    data_dict['payer_CITY'].append(group['payer_CITY'][ind])
    data_dict['STATE_HEADQUARTERED'].append(group['STATE_HEADQUARTERED'][ind])
    data_dict['AMOUNT_COVERED'].append(group['AMOUNT_COVERED'][ind])
    data_dict['AMOUNT_UNCOVERED'].append(group['AMOUNT_UNCOVERED'][ind])
    data_dict['payer_REVENUE'].append(group['payer_REVENUE'][ind])
    data_dict['COVERED_ENCOUNTERS'].append(group['COVERED_ENCOUNTERS'][ind])
    data_dict['UNCOVERED_ENCOUNTERS'].append(group['UNCOVERED_ENCOUNTERS'][ind])
    data_dict['COVERED_MEDICATIONS'].append(group['COVERED_MEDICATIONS'][ind])
    data_dict['UNCOVERED_MEDICATIONS'].append(group['UNCOVERED_MEDICATIONS'][ind])
    data_dict['COVERED_PROCEDURES'].append(group['COVERED_PROCEDURES'][ind])
    data_dict['COVERED_IMMUNIZATIONS'].append(group['COVERED_IMMUNIZATIONS'][ind])
    data_dict['UNCOVERED_IMMUNIZATIONS'].append(group['UNCOVERED_IMMUNIZATIONS'][ind])
  df_patient_payer = df_patient_payer.append(data_dict, ignore_index=True)
df_patient_payer

                                  PATIENT  ...                            UNCOVERED_IMMUNIZATIONS
0    0042862c-9889-4a2e-b782-fac1e540ecb4  ...                                          [0, 3644]
1    0047123f-12e7-486c-82df-53b3a450e365  ...                                                [0]
2    010d4a3a-2316-45ed-ae15-16f01c611674  ...                                              [160]
3    0149d553-f571-4e99-867e-fcb9625d07c2  ...                                [0, 0, 0, 156, 164]
4    01e1f394-7219-4189-bceb-3cbd90cff90b  ...  [0, 0, 0, 0, 0, 0, 195, 195, 0, 160, 156, 156,...
..                                    ...  ...                                                ...
978  fdb2a2ee-09c2-499b-b324-d998d5226f19  ...                  [0, 0, 0, 0, 0, 195, 195, 0, 160]
979  ff02f237-fedb-453b-85b1-ebfc2609c312  ...                                              [151]
980  ff3714ac-c7e3-4910-905e-2a321eb28144  ...                                              [160]
981  ff6948b7-3d62-4bfc-bc7d-dbb6748ed0be  ...              [0, 0, 0, 0, 195, 160, 156, 156, 156]
982  ffa37e71-fa14-4e84-ba9d-aece8d1d99f9  ...                                                [0]

[983 rows x 19 columns]

In [ ]:
df_patient_allergies = pd.DataFrame(columns = ['PATIENT', 'allergies_START_DATE', 'allergies_STOP_DATE', 'CODE','allergies_DESCRIPTION'])
df_patient_allergies

Empty DataFrame
Columns: [PATIENT, allergies_START_DATE, allergies_STOP_DATE, CODE, allergies_DESCRIPTION]
Index: []

In [ ]:
grouped_patients = patient_allergies.groupby('PATIENT')
for name, group in grouped_patients:
  data_dict = {'allergies_START_DATE': [], 'allergies_STOP_DATE': [], 'CODE':[], 'allergies_DESCRIPTION':[]}
  data_dict['PATIENT'] = name
  for ind in group.index:
    data_dict['allergies_START_DATE'].append(group['allergies_START'][ind])
    data_dict['allergies_STOP_DATE'].append(group['allergies_STOP'][ind])
    data_dict['CODE'].append(group['CODE'][ind])
    data_dict['allergies_DESCRIPTION'].append(group['allergies_DESCRIPTION'][ind])
  df_patient_allergies = df_patient_allergies.append(data_dict, ignore_index=True)
df_patient_allergies

                                   PATIENT  ... allergies_DESCRIPTION
0     00185faa-2760-4218-9bf5-db301acf8274  ...                 [nan]
1     0042862c-9889-4a2e-b782-fac1e540ecb4  ...                 [nan]
2     0047123f-12e7-486c-82df-53b3a450e365  ...                 [nan]
3     010d4a3a-2316-45ed-ae15-16f01c611674  ...                 [nan]
4     01207ecd-9dff-4754-8887-4652eda231e2  ...                 [nan]
...                                    ...  ...                   ...
1166  ff02f237-fedb-453b-85b1-ebfc2609c312  ...                 [nan]
1167  ff3714ac-c7e3-4910-905e-2a321eb28144  ...                 [nan]
1168  ff6948b7-3d62-4bfc-bc7d-dbb6748ed0be  ...                 [nan]
1169  ffa37e71-fa14-4e84-ba9d-aece8d1d99f9  ...                 [nan]
1170  ffcfa457-00c2-4405-9837-ac2781549c7e  ...                 [nan]

[1171 rows x 5 columns]

In [ ]:
patient_medications

                 meds_START  ... HEALTHCARE_COVERAGE
1      2011-12-08T15:02:18Z  ...  1334.8799999999999
2      2019-03-20T15:02:18Z  ...  1334.8799999999999
3      2016-12-29T17:45:28Z  ...             3204.49
4      2011-05-13T12:58:08Z  ...  2606.3999999999996
5      2017-01-22T12:58:08Z  ...  2606.3999999999996
...                     ...  ...                 ...
43049  1984-09-23T17:27:52Z  ...  13156.999999999998
43050  1987-09-27T17:27:52Z  ...  13156.999999999998
43051  1987-09-27T17:27:52Z  ...  13156.999999999998
43052  1990-03-15T17:27:52Z  ...  13156.999999999998
43053                   NaN  ...  26565.649999999998

[43053 rows x 37 columns]

In [ ]:
df_patient_data = pd.merge(left= df_patient_observations, right= df_patient_allergies, on=['PATIENT'], how='left')
df_patient_data = pd.merge(left=df_patient_data, right = df_patient_payer, on=['PATIENT'], how='left')
df_patient_data

                      DATE  ...                UNCOVERED_IMMUNIZATIONS
0     2019-12-31T15:06:37Z  ...                                    NaN
1     2019-12-05T23:31:38Z  ...                              [0, 3644]
2     2020-03-19T00:15:54Z  ...                                    [0]
3     2019-08-11T04:32:14Z  ...                                  [160]
4     2020-04-22T06:27:24Z  ...                                    NaN
...                    ...  ...                                    ...
1166  2019-11-06T17:10:39Z  ...                                  [151]
1167  2019-08-06T19:29:08Z  ...                                  [160]
1168  2019-07-29T10:57:26Z  ...  [0, 0, 0, 0, 195, 160, 156, 156, 156]
1169  2001-01-17T12:00:58Z  ...                                    [0]
1170  2019-11-18T09:02:32Z  ...                                    NaN

[1171 rows x 66 columns]

In [ ]:
df_patient_data.to_csv('CompletePatientsData.csv')